* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Libre Caslon Text", serif !important;
  background-color: #efebde;
}

#rainbow_container {
  height: 120px;
}
.rainbow {
  position: absolute;
  left: -120px;
  top: 0;
  width: 500px;
  transform: rotate(-45deg);
}
.rainbow > div {
  height: 1.2vh;
  margin-bottom: 4.5px;
}
#r1 {
  background-color: #528a69;
}
#r2 {
  background-color: #505ead;
}
#r3 {
  background-color: #924693;
}
#r4 {
  background-color: #6141a2;
}
#r5 {
  background-color: #aa6242;
}
#r6 {
  background-color: #d13021;
}
#r7 {
  background-color: #fbcc3e;
}

.centering_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#book_title {
  display: inline-block;
  font-size: xx-large;
}
#author {
  padding-top: 5vh;
  font-size: x-large;
}
.social-icons {
  width: 7vw;
  min-width: 72px;
  height: auto;
}
